.review-component {
  max-height: 200px;
  overflow: scroll;
  margin-top: 15px;
  flex-grow: 1;
  margin-bottom: 16px;

  p {
    width: 100%;
  }
}

.mobile-review {
  display: none;
}

@media only screen and (max-width: 1089px) {
  .mobile-review {
    display: block;
    font-weight: 800;
    cursor: pointer;
  }
}
