.movie-details-wrapper {
  color: white;

  h1 {
    background: rgba(132, 127, 134, 0.8);
    padding: 20px;
    display: inline-block;
  }

  img.movie-details-backdrop {
    min-height: 100%;
    min-width: 1280px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .movie-details-poster-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 30px 30px 30px;

    .movie-details-poster {
      border-radius: 3%;
      border: solid #847f86 10px;
    }

    .movie-details-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 40%;
      min-height: 400px;
      background: rgba(132, 127, 134, 0.7);
      padding: 20px;
      border-radius: 3%;
      font-family: monospace;
      font-size: 20px;
      max-height: 750px;

      > div {
        margin: 20px 0;
      }

      > div:last-child {
        margin: 20px 0 0 0;
      }
    }
  }
}
