.movie-details-wrapper {
  img.movie-details-backdrop {
    min-height: 100%;
    min-width: 1280px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .movie-details-poster-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3% 450px 450px 80px;
    grid-gap: 15px;
    justify-items: center;

    .movie-details-poster {
      border-radius: 10px;
      border: solid #847f86 10px;
      grid-row: 2;
    }

    .movie-details-info {
      grid-row: 2 / 3;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 90%;
      background: rgba(132, 127, 134, 0.7);
      padding: 20px;
      border-radius: 10px;
      font-family: monospace;
      font-size: 20px;
      overflow: scroll;
    }

    .movie-details-reviews {
      grid-column: 2;
      grid-row: 3 / 4;
      width: 90%;
      background: rgba(132, 127, 134, 0.7);
      padding: 20px;
      border-radius: 10px;
      font-family: monospace;
      display: flex;
      flex-direction: column;
      font-size: 20px;
    }
  }
}

.breakpoint__medium-down {
  display: flex;
  flex-direction: column;

  .movie-details-backdrop-mobile {
    min-height: 100%;
    top: 63px;
    position: fixed;
    z-index: -2;
    height: auto;
  }

  .movie-details-info {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    background: rgba(132, 127, 134, 0.7);
    padding: 20px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 20px;
    overflow: scroll;
  }

  .movie-details-reviews {
    width: 90%;
    background: rgba(132, 127, 134, 0.7);
    padding: 20px;
    border-radius: 10px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
}
