.movie-details-wrapper {
    img.movie-details-backdrop {
      min-height: 100%;
      min-width: 100%;
      /* Set up proportionate scaling */
      width: 100%;
      height: auto;
  
      /* Set up positioning */
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
    }
  
  
      .movie-details-info {
        background: rgba(132, 127, 134, 0.7);
        padding: 20px;
        border-radius: 10px;
        font-family: monospace;
        font-size: 20px;
        margin: 20px 0;
      }
  
      .movie-details-reviews {
        background: rgba(132, 127, 134, 0.7);
        padding: 20px;
        border-radius: 10px;
        font-family: monospace;
        font-size: 20px;
        margin: 20px 0;
      }
    }
  
  