.genres-page {
  .genre-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    grid-gap: 15px;
    justify-items: center;
    margin: auto;
    h3 {
      margin: 200px auto;
    }
  }
}

.breakpoint__medium-only {
  .genre-list {
    grid-template-columns: repeat(3, 1fr);
  }
  h3 {
    font-size: 18px;
    width: 80%;
  }
  .genre-component {
    width: 170px;
    height: 170px;
    h3 {
      font-size: 22px;
    }
    .genre-component {
      width: 170px;
      height: 170px;
      h3 {
        font-size: 22px;
      }
    }
  }
}

.breakpoint__small-down {
  .genre-list {
    grid-template-columns: repeat(2, 1fr);
  }
  h3 {
    font-size: 18px;
    width: 80%;
  }
  .genre-component {
    width: 140px;
    height: 140px;
    font-size: 18px;
  }
}

.genre-search-title {
  align-items: center;
  max-width: 1500px;
  margin: auto;
  cursor: pointer;
  .fa {
    font-size: 40px;
    margin: 0 10px 0 20px;
  }
  p {
    font-size: 16px;
  }

  .breakpoint__medium-up {
    div {
      display: flex;
      align-items: center;
      position: fixed;
    }
  }

  .breakpoint__small-down {
    display: flex;
    align-items: center;

    .fa {
      font-size: 40px;
      margin: 0 0 0 20px;
    }

    h1 {
      margin: 20px;
    }
  }
}
