.genres-page {
  .genre-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    grid-gap: 15px;
    justify-items: center;
    margin: auto;
    h3 {
      margin: 200px auto;
    }
  }
}

// tablet view genre list
@media only screen and (min-width: 600px) and (max-width: 969px) {
  .genres-page {
    .genre-list {
      grid-template-columns: repeat(3, 1fr);
    }
    h3 {
      font-size: 18px;
      width: 80%;
    }
  }
}

// mobile view genre list
@media only screen and (min-width: 375px) and (max-width: 599px) {
  .genres-page {
    .genre-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// desktop view
.genre-search-title {
  display: flex;
  align-items: center;
  max-width: 1500px;
  margin: auto;
  cursor: pointer;
  .fa {
    font-size: 40px;
    margin: 0 10px 0 20px;
  }
  p {
    font-size: 18px;
  }
}

.genre-search-mobile-title {
  .fa {
    display: none;
  }
  h1 {
    margin: auto;
  }
}

h3 {
  margin: 200px auto;
}

// tablet/mobile view genre results
@media only screen and (min-width: 375px) and (max-width: 969px) {
  .genre-search-title {
    display: none;
  }

  .genre-search-mobile-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .fa {
      display: block;
      font-size: 40px;
      margin: 0 10px 0 20px;
    }
  }

  h3 {
    font-size: 18px;
    width: 80%;
  }
}
