.genre-component {
  width: 200px;
  height: 200px;
  border-radius: 3%;
  background-color: #e4c1f4;
  border: 10px solid #9b6db0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}
