.movie-details-mobile {
  display: none;
}

.movie-component {
  display: flex;
  margin: 20px 10px;
  cursor: default;

  .movie-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .movie-poster {
    border-radius: 10px;
    border: solid #847f86 3px;
    height: 100%;
  }

  .movie-title {
    padding: 0 30px;
  }

  .movie-overview {
    padding: 0 20px;
    font-family: monospace;
    font-size: 20px;
  }

  .movie-released {
    font-size: 20px;
  }
}

.movie-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 766px) {
  .movie-details-mobile {
    display: block;
  }

  .movie-component {
    flex-direction: column;
    align-items: center;

    .movie-title {
      display: none;
    }
  }
}

@media only screen and (min-width: 374px) and (max-width: 1500px) {
  .movie-list {
    flex-direction: column;
    align-items: center;
  }
}
