.movie-component {
  display: flex;
  // flex-direction: column;
  margin: 20px 10px;

  .movie-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .movie-poster {
    border-radius: 3%;
    border: solid #847f86 10px;
  }
  .movie-title {
    padding: 0 30px;
  }

  .movie-overview {
    padding: 0 20px;
    font-family: monospace;
    font-size: 14px;
  }

  .movie-released {
    font-size: 18px;
  }
}

.movie-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
