.dashboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75vh;

  .dashboard-card-wrapper {
    border-radius: 25px;
    border: solid 25px #e1b65b;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

    .fa {
      font-size: 8em;
    }

    a {
      text-decoration: none;
      color: #8944a9;
    }
  }
}
