.navbar-wrapper {
  margin-top: -25px;
  font-size: 24px;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #b65be1;

  .navbar-top-links {
    display: flex;
    margin-right: 20px;
  }
}

.navbar-link,
.navbar-link-logo {
  list-style: none;
  margin: 15px;
  width: auto;
}

.navbar-link-logo > a > img {
  height: 50px;
}

.navbar-link > a {
  text-decoration: none;
  color: #f6eafb;
}

a.active {
  color: #5be1b6;
}
