.sidebar-top {
  background: #b65be1;
  .sidebar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar-link,
  .sidebar-link-logo {
    list-style: none;
  }

  .sidebar-link-logo {
    margin: 5px auto;
  }

  .sidebar-link-logo > a > img {
    height: 50px;
  }

  .bars {
    font-size: 45px;
    color: white;
    width: auto;
    border: none;
  }
}

.sidebar-link.bars .sidebar-link > a {
  text-decoration: none;
  color: #f6eafb;
}

.sidebar-link {
  list-style: none;
  width: 100%;
  border-top: 1px solid white;
}

.visible-enter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: translate(-100%);
  background: #b65be1;
  transition: transform 0.5s linear;
  margin-top: -25px;
  height: 90vh;
  width: 80%;
  position: fixed;

  .sidebar-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a.active {
    color: #5be1b6;
  }
}

.visible-enter-active {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: translate(-50%);
  transition: transform 0.5s linear;
  margin-top: -25px;
  height: 50vh;
}

.visible-enter-done {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-around;
  background: #b65be1;
  position: fixed;
  margin-top: -25px;
  height: 50vh;

  .sidebar-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a.active {
    color: #5be1b6;
  }
}

.visible-exit {
  transform: translate(100%);
  transition: transform 0.5s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #b65be1;
  position: fixed;
  margin-top: -25px;
  height: 50vh;

  .sidebar-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a.active {
    color: #5be1b6;
  }
}

.visible-exit-active {
  width: 50%;
  transform: translate(-100%);
  transition: transform 0.5s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #b65be1;
  position: fixed;
  margin-top: -25px;
  height: 50vh;

  .sidebar-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a.active {
    color: #5be1b6;
  }
}
